body {
    margin: 0;
    overflow: hidden;
}

.container-main{
    background-image: url(../GameImages/fondo\ granja.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.buttons-menu{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.buttons-menu button {
    width: 50%; 
    box-sizing: border-box;
}

.buttons-menu img {
    width: 100%; 
    height: auto; 
    max-width: 500px; 
}

button{
    background-color: transparent;
    border: none;
    padding: 0;
}

button img{
    transition: all 0.3s ease;
}

button:hover img{
    filter: brightness(70%);
}

.settings-image {
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 60%; 
    margin: 0 auto; 
    margin-bottom: -100px; 
}

.settings-image img {
    max-width: 100%; 
}

.buttons-settings {
    background-color: transparent;
    border: none;
    padding: 0;
}

.buttons-settings img {
    max-width: 20%; 
    height: auto;
    margin-left: 45px;
}

.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.back-button img {
    width: 130px; 
    height: auto; 
}

.leaderboard-image {
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 70%; 
    margin: 0 auto; 
}

.game-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%!important; /*Aqui para hacer mas grande la pantalla de juego*/
    margin: 0 auto;
    position:relative;
    height: 85%!important;
    margin-top: 10px;
}

.game-image #frame {
    max-width: 100%; 
    position:relative;
    z-index: 2200;
}

.game-image #icon {
    position:absolute;
    z-index: 2300;
    top:-20px;
    left:-20px;
    max-width: 12%;
}

canvas {
    position: absolute;
    z-index: 2100;
}

#game-container {
    position:absolute;
    align-self: center;
    justify-self: center;
    display: flex!important;
    min-height: 100%;
    min-width: 100%;
    border-radius: 35px;
    overflow: hidden;
}

.leaderboard-image img {
    max-width: 100%; 
}

.leaderboard-wrapper {
    position: relative;
    text-align: center;
}


.buttons-row {
    position: absolute; 
    bottom: 12%; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    z-index: 1;
}

.custom-button {
    margin: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.custom-button img {
    width: 100%;
    height: auto;
    max-width: 300px;
}
